.NavbarItems {
    background: rgb(0,232,236);
 /*   background: linear-gradient(
        90deg,
        rgb(39, 176, 255) 0%,
        rgb(0, 232, 236) 100%
      );*/
    height: 80px;
    display: flex; /*items displayed in a row*/
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

/*Recipy name*/
.navbar-logo{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-self: start;
    margin-left: 20px;
    cursor:pointer;
}

/*
.fa-recipy{
    margin-left: 0.5rem;
    font-size: 10rem;
}
*/
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none; /*gets rid of bullet points on list*/
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 3rem;
}

/*menu items text*/
.nav-links{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/* menu items backgrounds are white when you hover over them*/
.nav-links:hover{
    background-color: white;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

/*hamburger icon*/
.fa-bars{
    color: white;
}

/*Login/Signup button option on menu only appears on mobile*/
.nav-links-mobile{
    display:none;
}

/*hamburger menu icon hidden in full screen mode*/
.menu-icon{
    display: none;
}

@media screen and (mac-width: 900px){
    .NavbarItems{
        position: relative;
    }

    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active{
        background: black ;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover{
        background-color:white;
        border: 0;
    }

    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor:pointer;
    }
}